<!doctype html>
<html>
	<head>
		<title>CS designs</title>
		<link rel="stylesheet" type="text/css" href="/css/reset.css">
		<link rel="stylesheet" type="text/css" href="/css/styles.css">
		<link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
		<link rel="shortcut icon" type="image/jpg" href="https://scdesigns.stackstorage.com/public-share/PIiRXIhsjdGvbYa/preview?path=/&mode=thumbnail&size=medium"/>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<div class="container">
      <h5>404</h5>
      <h1><a href="/home"><< Go home!</a> - Stay on <%- zoekopdracht %></h1>
      <p>I am so sorry but the page: "<%- zoekopdracht %>" is not yet made :/</p>

<% include footer %>
