<!doctype html>
<html>
	<head>
		<title>CS designs</title>
		<link rel="stylesheet" type="text/css" href="/css/reset.css">
		<link rel="stylesheet" type="text/css" href="/css/styles.css">
		<link rel="shortcut icon" type="image/jpg" href="https://scdesigns.stackstorage.com/public-share/PIiRXIhsjdGvbYa/preview?path=/&mode=thumbnail&size=medium"/>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script type="text/javascript">
			var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
			(function(){
			var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
			s1.async=true;
			s1.src='https://embed.tawk.to/5941adca50fd5105d0c8113b/default';
			s1.charset='UTF-8';
			s1.setAttribute('crossorigin','*');
			s0.parentNode.insertBefore(s1,s0);
			})();
		</script>
	</head>
	<body>
		<div class="container">
			<nav>
			  <% for (var i = 0; i < pages.length; i++) {
			     if  ( zoekopdracht === pages[i].slug) {%>
			       <li><a id="selected" href="<%- pages[i].slug %>"><%- pages[i].slug %></a></li>
			    <% }else{ %>
			      <li><a href="<%- pages[i].slug %>"><%- pages[i].slug %></a></li>
			  <% } }%>
			</nav>
