<!doctype html>
<html>
	<head>
		<title>CS designs</title>
		<link rel="stylesheet" type="text/css" href="/css/reset.css">
		<link rel="stylesheet" type="text/css" href="/css/stylesLandingpage.css">
    <link rel="shortcut icon" type="image/jpg" href="https://scdesigns.stackstorage.com/public-share/PIiRXIhsjdGvbYa/preview?path=/&mode=thumbnail&size=medium"/>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<div class="container2">
      <img id="logo" src="https://scdesigns.stackstorage.com/public-share/hrW07uP0p3cZc0K/preview?path=%2F&mode=full&size=large">
    </div>
    <div class="container">
      <div class="one"></div>
      <div class="two"></div>
    </div>
<script src="/js/Landingpage.js"></script>
</body>
</html>
