<% include header %>
<img id="logo" src="https://scdesigns.stackstorage.com/public-share/hrW07uP0p3cZc0K/preview?path=%2F&mode=full&size=large">
<h2><%- page.title %> :</h2>

<section>
  <%- page.body %>
</section>

<% include footer %>
