/* -----------------------------------------------------------------------
   |  Welkom geavanceerde internetgebruiker!                             |
   | Als je deze tekst leest dan wilt het zeggen dat je mijn code aan    |
   | het inspecteren bent. En ik hoop dat je er een beetje aan uit kunt  |
   |  - Cornelis Stijn                                                   |
   -----------------------------------------------------------------------
*/
body{
  background: black;
  color: white;
  font-family: 'Oxygen', sans-serif;
  overflow: hidden;
}
h2{
  font-size: 3em;
  font-weight: bold;
  line-height: 150%;
}
h3{
  font-size: 2em;
}
h5{
  font-size: 5em;
}
li{
   display: inline;
}
li a{
  animation: color 10s linear 0s infinite;
  font-size: 1.2em;
  height: 4vh;
  padding: 0.3vh 0.7vw 0vh 0.7vw;
  color: black;
}
li a:visited{
  color: black;
}
a:visited{
  color: gray;
}
li a:hover{
    padding: 1vh 0.7vw 0vh 0.7vw;
}
img{
  width: 80%;
}
nav{
  position: absolute;
  top: 1.5vh;
  right: 2.5vw;
  width: 90vw;
  height: 10vh;
  z-index: 1000000;
}
section{
  width: 30vw;
  height: 57vh;
  position: absolute;
  top: 30vh;
  left: 3vw;
  text-align: right;
}
.container{
  border: 10px solid white;
  margin: 5vh 5vw;
  padding: 5vh 5vw;
  box-sizing: border-box;
  position: absolute;
  height: 90vh;
  width: 90vw;
  animation: Color 10s linear 0s infinite;
  background: url("https://scdesigns.stackstorage.com/public-share/YcNlUuydRmelPlU/preview?path=/&mode=thumbnail&size=medium");
  background-position: center;
  background-repeat: no-repeat;
}
.scroll{
  width: 50vw;
  height: 78vh;
  position: absolute;
  top: 0;
  right: 0;
  overflow-y: scroll;
  padding-top: 10vh;
}
.ervaring{
  width: 30vw;
}
#bottom{
  width: 65vw;
  position: fixed;
  bottom:6vh;
  right: 10vw;
}
#chat-height {
  position: absolute;
  bottom: 10vh;
  left: 5vw;
}
#logo{
  width:50vw;
  position: absolute;
  top: 15vh;
  left: 20vw;
  z-index: -100000
}
#selected{
    padding: 1vh 0.7vw 0vh 0.7vw;
    height: 3vw;
    font-weight: bold;
}

@keyframes Color {
    0%   {border-color: #FDFDFD}
    70%   {border-color: #FDFDFD}
    75%   {border-color: #FF0000}
    80%   {border-color: #2400FF}
    85%   {border-color: #12FF00}
    90%   {border-color: #FCFF00}
    95%   {border-color: #FF9000}
    100%   {border-color: #FDFDFD}
}
@keyframes color {
    0%   {background-color: #FDFDFD}
    70%   {background-color: #FDFDFD}
    75%   {background-color: #FF0000}
    80%   {background-color: #2400FF}
    85%   {background-color: #12FF00}
    90%   {background-color: #FCFF00}
    95%   {background-color: #FF9000}
    100%   {background-color: #FDFDFD}
}
@media only screen and (max-width: 700px) {
    section{
     width: 77vw;
     position: relative;
     top: 5vh;
     text-align: left;
    }
    .scroll{
      width: 77vw;
      position: relative;
      top: -20vh;
      overflow:visible;
    }
    .relative{
      width: 80vw;
      height: 78vh;
      position: absolute;
      top: 0;
      right: 0;
      overflow-y: auto;
    }
    .ervaring{
      width: 65vw;
    }
    #bottom{
      width: 120vw;
      right: 0;
    }
    /* navigation*/
    .menu-toggle {
      width: 30px;
      height: 30px;
      padding: 5px;
      position: fixed;
    	bottom: 10vw;
    	right: 5vw;
      cursor: pointer;
      background-color: white;
      animation: color 10s linear 0s infinite;
      z-index: 10000;
    }
    .menu-toggle.on .one {
      -moz-transform: rotate(45deg) translate(4px, 4px);
      -ms-transform: rotate(45deg) translate(4px, 4px);
      -webkit-transform: rotate(45deg) translate(4px, 4px);
      transform: rotate(45deg) translate(4px, 4px);
    }
    .menu-toggle.on .two {
      opacity: 0;
    }
    .menu-toggle.on .three {
      -moz-transform: rotate(-45deg) translate(8px, -10px);
      -ms-transform: rotate(-45deg) translate(8px, -10px);
      -webkit-transform: rotate(-45deg) translate(8px, -10px);
      transform: rotate(-45deg) translate(8px, -10px);
    }
    .menu-toggle.on{
      position: fixed;
    	bottom: 25px;
    	right: 25px;
    }

    .one,
    .two,
    .three {
      width: 100%;
      height: 5px;
      background: black;
      margin: 4px auto;
      backface-visibility: hidden;
      -moz-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
    }

    nav ul {
      margin: 0;
      padding: 0;
      list-style: none;
      margin: 2em auto;
      text-align: center;
    	font-size: 0.5em;
    	letter-spacing: 2px;
    	text-transform: uppercase
    }
    nav ul.hidden {
      display: none;
    }
    nav ul a {
      -moz-transition-duration: 0.5s;
      -o-transition-duration: 0.5s;
      -webkit-transition-duration: 0.5s;
      transition-duration: 0.5s;
      text-decoration: none;
      color: white;
      font-size: 3em;
      line-height: 1.5;
      width: 100%;
      text-align: center;
      display: block;
    }
    nav ul a:hover {
      text-decoration: underline;
    }

    .menu-section.on {
      z-index: 10;
      bottom: 0px;
      width: 100%;
      height: 91%;
      display: block;
      background-color: white;
      animation: color 10s linear 0s infinite;
      position: fixed;
    }
}
